			
			<form name="new-account" class="col-md-12 form-horizontal signup-form" role="form" ng-submit="accountSetup()">
				<table>
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<select ng-model="selectAccount" ng-change="switchAccount(selectAccount)">
										<option ng-repeat="acct in user.permissions track by acct.name" ng-selected="acct.name === user.permissions[0].name"> {{ acct.name }}</option>
									</select>
									:
								</div>
								<div class="form-group">
									OR
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<input class="account-name field form-control" type="text" placeholder="New Account Name" required ng-model="newAccount.accountName" />
								</div>
							</td>
							<td colspan="2">
								<div class="form-group">
									<button class="add-account-btn btn btn-primary" type="submit">Add Account</button>
								</div>
							</td>
						</tr>
				</table>
			</form>
			<form name="new-admin" class="col-md-12 form-horizontal signup-form" role="form" ng-submit="addAdmin()">
				<div class="form-group">
					<h2>Account Permission</h2>
				</div>
				<table>
						<tr ng-repeat="user in currentAccountUsers">
							<td colspan="1">
								<div class="form-group">
									{{ user.firstName }}
									{{ user.lastName }}
								</div>
							</td>
							<td colspan="1">
								<div class="form-group">
									{{ user.email }}
								</div>
							</td>
							<td colspan="1">
								<div class="form-group">
									{{ user.perms }}
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="form-group">
									<h2>Add a New Account User</h2>
								</div>
								<div class="form-group">
									<input class="col-md-12 account-email field form-control" type="text" placeholder="Account Admin First Name" required ng-model="newUser.firstName" />
								</div>
								<div class="form-group">
									<input class="col-md-12 account-email field form-control" type="text" placeholder="Account Admin Last Name" required ng-model="newUser.lastName" />
								</div>
								<div class="form-group">
									<input class="col-md-12 account-email field form-control" type="text" placeholder="Account Admin Email" required ng-model="newUser.email" />
								</div>
								<div class="form-group">
									<label>Permission Level</label>
									<select ng-model="newUser.newPermissions">
										<option selected>Read-Only</option>
										<option>Read and Write</option>
									</select>
								</div>
								<div class="form-group">
									User will be notified via email with temporary login password. User will be requested to change password at first login.
								</div>
								<div class="form-group">
									<div class="pull-left">
										<div class="btn btn-primary">Add User</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<div class="pull-right">
						<button class="btn btn-primary" ui-sref="account.userinformation">
								Back
						</button>
						<button class="btn btn-primary" type="submit">
								Save
						</a>
					</div>
			</form>
