			<div class="user-information">
				<div class="row">
					<div class="pull-left">
						<span class="pull-right">img goes here</span>
					</div>
					<div class="pull-left" class="user-information-summary">
						<ul>
							<li>User: {{ user.name }}</li>
							<li># Accounts: {{ user.accounts.length }}</li>
							<li>Email: {{ user.email }}</li>
							<li>Phone: {{ user.phone }}</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<button ui-sref="account.edituserprofile" class="btn btn-default">Edit User Profile</button>
					<button ui-sref="account.accountmanagement" class="btn btn-default">Account Manager</button>
					<button ui-sref="account.paymentinformation" class="btn btn-default">Payment Information</button>
				</div>
			</div>
